.layout {
    display: grid;
    grid-column: auto auto;
    grid-row: auto auto;
}

.phases-title {
   grid-column: 1;
   grid-row: 1;
   height: 50px;
}

.phases-content {
   grid-column: 1;
   grid-row: 2;
   overflow: hidden;
   white-space: nowrap;
}

.phases-list {
   margin: 0;
   padding: 0;
}

.phase-item {
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 15px;
   line-height: 15px;
   border-right: solid;
   border-bottom: solid;
   border-width: 1px;
   border-color: rgba(255, 255, 255, 0);
}

.phase-item:hover {
   background-color: rgba(69, 123, 157, 0.1);
   cursor: pointer;
}

.timeline {
   grid-row: 1;
   grid-column: 2;
   display: grid;
   grid-template-rows: auto auto;
   overflow: hidden;
   width: 100%;
   white-space: nowrap;
}

.timeline ul {
   margin: 0; 
   padding: 0;
} 

.datespans {
   grid-row: 1;
   display: grid;
   grid-auto-flow: column;
}

.datespan {    
   width: 496px;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.05);
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   border-right: solid;
   border-width: 1px;
   border-color: rgba(0, 0, 0, 0.2);
}

.weekdays {
   grid-row: 2;
   display: grid;
   grid-auto-flow: column;
}

.weekday {
   padding: 10px;
   width: 50px;
   font-size: 15px;
   line-height: 15px;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.1);
   border-right: solid;
   border-bottom: solid;
   border-width: 1px;
   border-color: rgba(0, 0, 0, 0.2);
}

.chart {
   grid-column: 2;   
   grid-row: 2;
   display: grid;
   grid-auto-flow: column;
   overflow: auto;
   width: 100%;
   white-space: nowrap;
}

.chart ul {
   margin: 0; 
   padding: 0; 
}

.day {
   grid-row: 2;
}

.phases-chart-list {
   margin: 0;
   padding: 0;
}

.phases-chart-item {   
   height: 15px;
   width: 70px;
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 15px;
   font-size: 15px;   
   border-right: solid;
   border-bottom: solid;
   border-width: 1px;
   border-color: rgba(0, 0, 0, 0.1);
}