<div class="layout">
    <div class="phases-title">
        <h1>Phases</h1>
    </div>

    <div class="phases-content">
        <ul *ngFor="let phase of this.phases" class="phases-list">
            <div class="phase-item">{{phase.name}}</div>
        </ul>
    </div>
    
    <div class="timeline">
        <div class="datespans">
            <ul *ngFor="let date of dates">
                <div class="datespan">
                    <span>{{date}}</span>
                </div>
            </ul>
        </div>
        <div class="weekdays">
            <ul *ngFor="let day of this.days">
                <div class="weekday">
                    <span>{{day.Weekday}}</span>
                </div>
            </ul>
        </div>        
    </div>

    <div class="chart" id="box">
        <ul *ngFor="let day of this.days">            
            <div class="day">
                <ul *ngFor="let phase of this.phases" class="phases">
                    <div class="item">{{phase.name}}</div>
                </ul>
            </div>
        </ul>
    </div>
</div>
