.layout {
    border: solid; /* tempoary */
    display: grid;
    grid-column: auto auto;
    grid-row: auto auto;
}

.phase-list {
   grid-row: 2;
   grid-column: 1;
   /* border: solid; */
}

.timeline {
   grid-row: 1;
   grid-column: 2;
   display: grid;
   grid-auto-flow: column;
   overflow: auto;
   width: 100%;
   white-space: nowrap;

}

.timeline ul {
   margin: 0; /* To remove default bottom margin */ 
   padding: 0; /* To remove default left padding */
}

.dates {
   list-style: none;
}

.chart {
   grid-row: 2;
   grid-column: 2;
   display: grid;
   grid-auto-flow: column;
   overflow: auto;
   width: 100%;
   white-space: nowrap;
}

.chart ul {
   margin: 0; /* To remove default bottom margin */ 
   padding: 0; /* To remove default left padding */
}

.days {
   list-style: none;
}