<div class="layout-grid">
    <div class="timespan">
        <span>{{this.timespan}}</span>
    </div>
    <div class="weekdays">
        <div class="weekday light" style="grid-column: 1;">
            <span>Mon</span>
        </div>
        <div class="weekday middle" style="grid-column: 2;">
            <span>Tue</span>
        </div>
        <div class="weekday light" style="grid-column: 3;">
            <span>Wed</span>
        </div>
        <div class="weekday middle" style="grid-column: 4;">
            <span>Thu</span>
        </div>
        <div class="weekday light" style="grid-column: 5;">
            <span>Fri</span>
        </div>
        <div class="weekday dark" style="grid-column: 6;">
            <span>Sat</span>
        </div>
        <div class="weekday deep-dark" style="grid-column: 7;">
            <span>Sun</span>
        </div>
    </div>
</div>