.layout {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.phases-list {
    margin: 0;
    padding: 0;
}

.item {
    border: solid;
    border-width: 1px;
    border-color: rgba(75, 121, 250, 0.0);
    border-radius: 3px;
    transition: border-color 100ms ease-out 100ms;
    margin: 5px 10px 5px 10px;
    padding: 2px 20px 2px 10px;
    line-height: 14px;
}


.item:hover {
    border-color: rgba(75, 121, 250, 0.2);
    cursor: pointer;
}
